/**
* Base Icon styles
* -----------------
* Import this Sass partial into your app. Depends on:
* [swarm-sasstools](https://github.com/meetup/swarm-sasstools/)
*
* See also:
* [React Icon component](https://github.com/meetup/meetup-web-components/blob/master/src/media/Icon.jsx)
*/

@mixin _iconColor( $color, $invertedColor ) {
	@include color-svg($color);
	.inverted & {
		@include color-svg($invertedColor);
	}
}

.svg { // SVG wrapping span
	display: inline-block;
}

.svg-icon { // SVG element
	@include _iconColor( $C_textSecondary, $C_textSecondaryInverted );
	@include display(inline-flex);
	vertical-align: bottom;
	font-size: 0;

	// click handling on svg elements
	// (ensures the entire element is clickable, not just the drawn bits
	position: relative;

	use { pointer-events: none; }
}
